.logo {
    display: flex;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
}